/*
 * Theme Name: Lure Creative (Foundry child)
 * Description: Theme for lurecreative.com, child of Foundry.
 * Author: <a href="https://www.lurecreative.com/">Lure Creative</a>
 * Template: foundry
**/

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #4d4d4f;
}

a,
a:visited {
  color: #206385;
}
a:hover {
  color: #103041;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6 .h6 {
  font-family: 'Roboto', sans-serif;
  color: #4d4d4f;
}

/* buttons */
.btn,
.btn:visited {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 40px;
  text-transform: none;
  border: 0;
  color: #ffffff;
  background-color: #9554aa;
}
.btn:hover {
  color: #ffffff;
  background-color: #633871;
}

/* backgrounds */
.bg-gray {
  background-color: #4d4d4f;
}
.bg-gray-light {
  background-color: #eeeeee;
}
.bg-blue {
  background-color: #206385;
}
.bg-primary {
  background-color: #206385 !important;
}
.bg-purple {
  background-color: #9554aa;
}
.bg-green {
  background-color: #c6da59;
}

.text-white {
  color: #ffffff;
}

/* counter */
.counter {
  color: #9554aa;
  font-weight: 200;
}

/* icons */
.feature-1 i,
.feature-3 i {
  color: #9554aa;
}

/* back to top button */
.btn.back-to-top {
  display: none !important;
}

/* gravity forms */
.rc-anchor-invisible {
	margin-top: 1em;
	margin-bottom: 1em;
}
.gform_wrapper label {
	margin-bottom: 0;
	font-weight: 200;
}
body .gform_wrapper {
	margin-top: 0 !important;
}
body .gform_wrapper ul li.gfield {
	margin-top: 0 !important;
}
body .gform_wrapper .gform_footer {
	padding-top: 0;
	margin-top: 0;
}
.gform_wrapper .gform_footer input.button,
.gform_wrapper .gform_footer input[type=submit],
.gform_wrapper .gform_page_footer input.button,
.gform_wrapper .gform_page_footer input[type=submit] {
	color: #4d4d4f;
	text-transform: none;
	background-color: #c6da59;
	border: 0;
	min-width: 250px;
	width: auto !important;
	display: block !important;
	font-size: 18px !important;
	margin-left: auto !important;
	margin-right: auto !important;
	transition: .33s background-color ease-out;
}
.gform_wrapper .gform_footer input.button:hover,
.gform_wrapper .gform_footer input[type=submit]:hover,
.gform_wrapper .gform_page_footer input.button:hover,
.gform_wrapper .gform_page_footer input[type=submit]:hover {
	color: #4d4d4f;
	background-color: #a0b628;
}
select {
	text-transform: none;
}
.gform_wrapper ul.gform_fields li.gfield select {
	margin-left: 0 !important;
}
.gform_wrapper label.gfield_label,
.input-with-label span,
label {
	font-family: 'Roboto', sans-sans-serif;
	color: #4d4d4f;
	text-transform: none;
	line-height: 1em;
	font-size: 12px !important;
}
.select-option {
	margin-bottom: 15px;
	height: auto;
}
.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.gform_wrapper textarea,
.gform_wrapper select {
	padding: 6px;
  height: 36px;
	border: 1px solid #4d4d4f;
	border-radius: 5px;
}
.gform_wrapper select[type="multiple"] {
	height: 72px;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="number"] {
	margin-bottom: 15px;
}
body .gform_wrapper ul li.gfield {
	margin-top: 0;
}
body .gform_wrapper .top_label div.ginput_container {
	margin-top: 0;
}
.gform_wrapper .top_label .hide-label .gfield_label {
	display: none;
}
.form-half .gform_body ul {
	overflow: hidden;
}
.form-half .gform_body ul li.center-block {
	max-width: 302px;
	float: none;
	clear: both;
	margin-right: auto;
	margin-left: auto !important;
}
@media only screen and (min-width: 641px) {
  .form-half .gform_body ul li.gfield {
		width: 50%;
		float: left;
		clear: none;
		padding-left: 15px;
		padding-right: 15px;
	}
  .form-half .gform_body ul li.full-width {
		width: 100%;
		float: none;
		clear: both;
	}
  .form-half .gform_body ul li.center-block {
		width: 332px;
		max-width: none;
		float: none;
		clear: both;
		margin-right: auto;
		margin-left: auto !important;
	}
}
@media only screen and (min-width: 641px) {
	.form-half .gform_body .top_label,
	.form-half .gform_body .top_label input.small,
	.form-half .gform_body .top_label select.small,
	.form-half .gform_body .top_label input.medium,
	.form-half .gform_body .top_label select.medium {
		width: 100%;
	}
}

.form-dark label.gfield_label,
.form-dark span,
.form-dark label,
.form-dark .gfield_required {
	color: #ffffff !important;
}

/* contact footer */
#contact {
  padding-top: 0;
  padding-bottom: 0;
}
#contact .wpb_text_column *:last-child {
  margin-bottom: 5px;
}

/* navbar */
.nav-bar .btn {
	color: #4d4d4f;
	text-transform: uppercase;
	background-color: #c6da59;
	border: 0;
	width: auto !important;
	display: block !important;
	font-size: 14px !important;
  line-height: 25px;
  margin-top: 15px !important;
	transition: .33s background-color ease-out;
}
.nav-bar .btn:hover {
	color: #4d4d4f !important;
	background-color: #a0b628 !important;
}
