.btn,
.btn:visited {
	&,
	&:visited {
		font-family: $btn-font-family;
		color: $btn-color;
		background-color: $btn-bg;
	  font-size: 18px;
	  line-height: 1em;
	  text-transform: none;
		height: auto;
	  border: 0;
		padding: 12px 18px;
	}
	&:hover,
	&:focus {
		color: $btn-color-hover !important;
		background-color: $btn-bg-hover !important;
	}
}

.btn-alt,
.nav-bar .btn,
nav.transparent.fixed .cta-button .btn.btn-sm,
.gform_wrapper .gform_footer input.button,
.gform_wrapper .gform_footer input[type=submit],
.gform_wrapper .gform_page_footer input.button,
.gform_wrapper .gform_page_footer input[type=submit] {
	&,
	&:visited {
		font-family: $btn-font-family;
		color: $btn-alt-color;
		background-color: $btn-alt-bg;
	  font-size: 16px;
	  line-height: 1em;
	  text-transform: none;
		height: auto;
	  border: 0;
		padding: 10px;
		border-radius: 3px;
		transition: .33s background-color ease-out;
	}
	&:hover {
		color: $btn-alt-color-hover;
		background-color: $btn-alt-bg-hover;
	}
}
