// back to top button
.btn.back-to-top {
  display: none !important;
}

// contact footer
#contact {
  padding-top: 0;
  padding-bottom: 0;
	.wpb_text_column *:last-child {
	  margin-bottom: 5px;
	}
}

.footer-1 .sub {
	opacity: 1;
}

footer {
	a {
		&,
		&:visited {
			color: #666666;
		}
		&:hover,
		&:focus {
			color: #999999;
		}
	}
}
