/* gravity forms */
.rc-anchor-invisible {
	margin-top: 1em;
	margin-bottom: 1em;
}
.gform_wrapper label {
	margin-bottom: 0;
	font-weight: $font-weight-base;
}
body .gform_wrapper {
	margin-top: 0 !important;
}
body .gform_wrapper ul li.gfield {
	margin-top: 0 !important;
}
body .gform_wrapper .gform_footer {
	padding-top: 0;
	margin-top: 0;
}
.gform_wrapper .gform_footer input.button,
.gform_wrapper .gform_footer input[type=submit],
.gform_wrapper .gform_page_footer input.button,
.gform_wrapper .gform_page_footer input[type=submit] {
	text-transform: none;
	border: 0;
	min-width: 250px;
	width: auto !important;
	display: block !important;
	font-size: 18px !important;
	margin-left: auto !important;
	margin-right: auto !important;
	border-radius: 3px !important;
}
select {
	text-transform: none;
}
.gform_wrapper ul.gform_fields li.gfield select {
	margin-left: 0 !important;
}
.gform_wrapper label.gfield_label,
.input-with-label span,
label {
	font-family: 'Roboto', sans-sans-serif;
	color: #4d4d4f;
	text-transform: none;
	line-height: 1em;
	font-size: 15px !important;
}
.select-option {
	margin-bottom: 15px;
	height: auto;
}
.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.gform_wrapper textarea,
.gform_wrapper select {
	color: $color-gray;
	padding: 6px;
  height: 36px;
	border: 1px solid $color-gray;
	border-radius: 4px;
}
.gform_wrapper select[type="multiple"] {
	height: 72px;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="number"] {
	margin-bottom: 15px;
}
body .gform_wrapper ul li.gfield {
	margin-top: 0;
}
body .gform_wrapper .top_label div.ginput_container {
	margin-top: 0;
}
.gform_wrapper .top_label .hide-label .gfield_label {
	display: none;
}
.form-half .gform_body ul {
	overflow: hidden;
}
.form-half .gform_body ul li.center-block {
	max-width: 302px;
	float: none;
	clear: both;
	margin-right: auto;
	margin-left: auto !important;
}
@media only screen and (min-width: 641px) {
  .form-half .gform_body ul li.gfield {
		width: 50%;
		float: left;
		clear: none;
		padding-left: 15px;
		padding-right: 15px;
	}
  .form-half .gform_body ul li.full-width {
		width: 100%;
		float: none;
		clear: both;
	}
  .form-half .gform_body ul li.center-block {
		width: 332px;
		max-width: none;
		float: none;
		clear: both;
		margin-right: auto;
		margin-left: auto !important;
	}
}
@media only screen and (min-width: 641px) {
	.form-half .gform_body .top_label,
	.form-half .gform_body .top_label input.small,
	.form-half .gform_body .top_label select.small,
	.form-half .gform_body .top_label input.medium,
	.form-half .gform_body .top_label select.medium {
		width: 100%;
	}
}

.form-dark label.gfield_label,
.form-dark span,
.form-dark label,
.form-dark .gfield_required {
	color: #ffffff !important;
}
