.counter {
	color: $color-purple;
	font-weight: 200;
}

.image-tile {
	position: relative;
	.image-tile-overlay {
		position: absolute;
		z-index: 10;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 1;
		transition: .15s opacity ease;
	}
	&:before {
		content: "";
		display: block;
		position: absolute;
		z-index: 10;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0,0,0,.75);
		opcaity: 1;
		transition: .33s opacity ease;
	}
	&:hover {
		.image-tile-overlay {
			opacity: 0;
		}
		&:before {
			opacity: 0;
		}
	}
}

// process carousel
.owl-item {
	section {
    min-height: 775px;
		@media (min-width: 768px) {
			min-height: 575px;
		}
	}
}
