body {
	color: $font-color-base;
	font-family: $font-family-base;
	font-size: $font-size-base;
	font-weight: $font-weight-base;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6 .h6 {
	color: $headings-color;
	font-family: $headings-family-base;
	font-weight: $headings-weight-base;
}

h1, .h1, h2, .h2, h3, .h3 {
	letter-spacing: .01em;
}

p, span {
	font-weight: $font-weight-base;
}
@media (max-width: 767px) {
	p {
	  font-size: $font-size-base;
	}
}

a,
a:visited {
  color: $link-color;
}
a:hover {
  color: $link-color-hover;
}

// backgrounds
.bg-gray {
  background-color: $color-gray;
}
.bg-gray-light {
  background-color: $color-gray-light;
}
.bg-blue {
  background-color: $color-blue;
}
.bg-primary {
  background-color: $color-blue !important;
}
.bg-purple {
  background-color: $color-purple;
}
.bg-green {
  background-color: $color-green;
}

.text-white {
  color: #ffffff;
}

// icons
.feature-1 i,
.feature-3 i {
  color: $color-purple;
}
.feature-3 .right {
  width: 80%;
  margin-left: 5%;
}
.feature.boxed {
	padding: 20px;
}

//
// padding

// default padding
section, footer {
	padding: 50px 0;
}

// small padding
section{
	&.pb64 {
	  padding-bottom: 30px;
	}
	&.pt64 {
	  padding-top: 30px;
	}
	&.pt180 {
		padding-top: 80px;
	}
	&.pb180 {
		padding-bottom: 80px;
	}
	@media (max-width: 767px) {
		&.pt-xs-80 {
			padding-top: 80px;
		}
		&.pb-xs-80 {
			padding-bottom: 80px;
		}
	}
}
