// navbar cta
.nav-bar .btn,
nav.transparent.fixed .cta-button .btn.btn-sm {
	text-transform: uppercase;
	border: 0;
	width: auto !important;
	display: block !important;
	font-size: 14px !important;
	margin-top: 12px !important;
	padding: 8px 16px;
}

// navbar text
.menu li a {
	font-size: 14px;
}
