// colors
$color-blue: #206385;
$color-purple: #9554aa;
$color-green: #c6da59;

$color-white: #ffffff;
$color-gray: #4d4d4f;
$color-gray-light: #eeeeee;

// typography
$font-family-sans-serif: 'Roboto', sans-serif;

$font-size-base: 16px;
$font-color-base: $color-gray;
$font-weight-base: 400;
$font-family-base: $font-family-sans-serif;

$headings-color: $color-gray;
$headings-weight-base: 200;
$headings-family-base: $font-family-sans-serif;

// links
$link-color: $color-purple;
$link-color-hover: darken($link-color, 10%);

// buttons
$btn-font-family: $font-family-sans-serif;

$btn-color: $color-white;
$btn-bg: $color-purple;
$btn-color-hover: $btn-color;
$btn-bg-hover: darken($btn-bg, 10%);

$btn-alt-color: $color-gray;
$btn-alt-bg: $color-green;
$btn-alt-color-hover: $btn-alt-color;
$btn-alt-bg-hover: darken($btn-alt-bg, 15%);
