@import "variables";

h1 a {
	#login & {
		background: url("/wp-content/themes/lurecreative/img/logo-main.png") no-repeat;
		background-size: contain;
		width: 300px;
		height: 70px;
	}
}
.wp-core-ui {
	#loginform {
		.button-primary {
			display: block;
			width: 100%;
			margin-top: 1em;
			padding: .5em;
			height: auto;
			color: $color-gray;
			font-size: 16px;
			text-shadow: none;
			box-shadow: none;
			background-color: $color-green;
			border-color: darken($color-green, 4%);
			&:active {
				color: $color-gray;
				text-shadow: none;
				box-shadow: none;
				background-color: darken($color-green, 4%);
				border-color: darken($color-green, 8%);
			}
		}
	}
}
.inv-recaptcha-holder {
	margin-bottom: 1em !important;
}
